<div class="companylogo container mx-5 mt-1"><img class="w-100" [src]="logoSrc"></div>    
<h1 class="text-light text-center fs-2">New Admin</h1>
<form (ngSubmit)="onSubmit()" #userForm="ngForm">
  <h1 class="text-light text-center fs-2">New Admin</h1>
  
  <!-- Full Name Field -->
  <div>
    <label for="fullname">Full Name</label>
    <input type="text" id="fullname" required [(ngModel)]="user.fullname" name="fullname" #fullname="ngModel">
    <!-- Angular version of conditional rendering -->
     @if(fullname.invalid && fullname.touched){
       <div  class="error">Full name is required</div>
      }
  </div>

  <!-- Email Field -->
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" required [(ngModel)]="user.email" name="email" #email="ngModel">
    @if(email.invalid && email.touched){

      <div class="error">Valid email is required</div>
    }
  </div>

  <!-- Username Field -->
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" required [(ngModel)]="user.username" name="username" #username="ngModel">
    @if(username.invalid && username.touched){

      <div class="error">Username is required</div>
    }
  </div>

  <!-- Password Field -->
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" required [(ngModel)]="user.password" name="password" #password="ngModel">
    @if(password.invalid && password.touched){

      <div class="error">Password is required</div>
    }
  </div>

  <!-- Group Field -->
  <div>
    <label for="group">Group</label>
    <input type="text" id="group" required [(ngModel)]="user.group" name="group" #group="ngModel">
    @if(group.invalid && group.touched){

      <div class="error">Group is required</div>
    }
  </div>

  <!-- Submit Button -->
  <button type="submit" [disabled]="userForm.invalid">Register</button>
</form>
