<img [src]="logoSrc" alt="Logo">
<div class="form-container text-center">

    <h2 >General Settings</h2>

    <div class="form-group m-2">
      <label  for="bonus">Add-ons</label>
      <input  type="number" id="bonus" formControlName="bonus" required class="form-control">
    </div>

    <div class="form-group m-2">
      <label for="deduction">Discounts</label>
      <input  type="number" id="deduction" formControlName="deduction" required class="form-control">
    </div>

    <div class="form-group m-2">
      <label for="weekendDay1">Weekend Day 1:</label>
      <input type="text" id="weekendDay1" formControlName="weekendDay1" required>
    </div>

    <div class="form-group m-2">
      <label for="weekendDay2">Weekend Day 2:</label>
      <input type="text" id="weekendDay2" formControlName="weekendDay2" required>
    </div>

    <div class="form-group m-3">
      <button type="button" class="btn">Save</button>
      <button type="button" class="btn">Update</button>
    </div>
  </div>
