<div class="form-container">
    <input type="text" [(ngModel)]="groupName" placeholder="group name" class="group-input">
    <table>
      <thead>
        <tr>
          <th>Page</th>
          <th>Add</th>
          <th>Remove</th>
          <th>Update</th>
          <th>Show</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let privilege of privileges">
          <td>{{ privilege.name }}</td>
          <td><input type="checkbox" [(ngModel)]="privilege.privileges.add"></td>
          <td><input type="checkbox" [(ngModel)]="privilege.privileges.remove"></td>
          <td><input type="checkbox" [(ngModel)]="privilege.privileges.update"></td>
          <td><input type="checkbox" [(ngModel)]="privilege.privileges.show"></td>
        </tr>
      </tbody>
    </table>
    <button (click)="savePrivileges()">Save</button>
  </div>
